.card-sabin{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card-sabin > form{
    background: #fff;
    padding: 32px;
    border-radius: $borderRadiusSmall;
    box-shadow: 0 16px 48px #00000029 ;
    max-width: 420px;
    @include device(sm){
        width: 100%
    }

}
.card-sabin form  button{
    @include btnStyle('primary');
    border-radius: $borderRadiusLarge;
    background: linear-gradient(219deg, $primaryColor,$secondayColor);
    margin: 0 auto
}
.card-sabin form  button::before, .card-sabin form button a::before{
    content: 'Encaminhar';
    background: linear-gradient(219deg, $secondayColor,$primaryColor);
    border-radius: $borderRadiusLarge;
}
.card-sabin form > .img {
    position: relative;
    bottom: 130px;
    left: calc(50% - 152px);
    margin-bottom: -110px;
}
.card-sabin form label{
    color: $textColor;
    font-size: 14px;
    line-height: 16px;

}
.card-sabin form .input-group input{
   @include inputStyle('primary');
   padding: 10px 15px;
   display: inline-block;

}

.card-sabin .input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.card-sabin form h3{

    color: $textColor;
    font-size: 14px;
    line-height: 18px;
    font-weight: $fontRegular;
    margin-bottom: 16px;
}
.card-sabin label + a{
    margin-top: 28px;
    display: inline-block;
}

.card-sabin .input-group label{
    margin-bottom: 6px;
}
.card-sabin  label input{
    margin-right: 8px;
}
.card-sabin  label{
    margin-bottom: 16px;
}
.card-sabin form  label{
    display: flex;
    align-items: center;
}
.card-sabin .btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-sabin .btn-group a{
    color: #431B99;
    font-size: 12px;
    line-height: 16px;
    font-weight: $fontBolder;
    margin-right: 5px
}

.card-sabin .input-group[arial-expanded="false"] > input{
    display: none
}
