/* COLORS */
$primaryColor: #3F1B99;
$secondayColor: #9146FF;
$successColor: #24EA60;
$errorColor: #FD5D93;
$warningColor: #FFEF29;
$textColor: #616367;
$background: #F5F6FA;

/* BORDER RADIUS */
$borderRadiusSmall: 4px;
$borderRadiusLarge: 20px ;
$borderRadiusCircle: 50%;

/* FONT WEIGHT */
$fontBolder: 800;
$fontBold: 700;
$fontSemiBold: 600;
$fontRegular: 400;

/* PADDING BUTTON*/
$paddingButton: 10px 40px;